<!DOCTYPE html>
<html lamg = "pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>    
<body>
    <h1>Problema: João tem 15 maçãs e dá 7 para seu amigo Pedro. Quantas maçãs João tem agora?</h1>
    <form action="/resultado" method="POST">
        <label for="numero_macas_inicial">Número de maçãs iniciais:</label>
        <input type="number" name="numero_macas_inicial" value ="15" readonly><br>
        <label for="numero_macas_dadas">Número de maçãs dadas:</label>
        <input type="number" name="numero_macas_dadas" value ="7"><br>
        <button type="submit">Calcular</button>
    </form>
</body>
</html>